.App {
  padding: 20px;
}

.App h1 {
  text-align: center;
  padding-bottom: 5px;
}

.App h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.6em;
}

.App .Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1250px;
  margin: auto;
}

