

.Banner {
    display: block;
    top: 0px;
    margin: 0 auto;
    width: 100%;
    height: 160px;
    background-color: #e34479;
    text-align: right;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .Banner {
        height: 120px;
    }
}


@media screen and (max-width: 480px) {
    .Banner {
        height: 90px;
    }
}


.Banner .LogoContainer {
    display: flex;
    height: 100%;
    justify-content: right;
}


